<div
  style="background-image: url(<%= image_url 'hero.jpg' %>)"

  class="
    bg-cover
    bg-center
    bg-fixed
    flex
    flex-col
    items-center
    justify-center
    h-[calc(100vh-200px)]
    min-h-[400px]
  "
>

  <div
    class="
      bg-white/30
      py-2
      px-4
      rounded-xl
      text-center
      justify-center
      items-center
      backdrop-blur-md
      min-h-[100px]
    "
  >
    <div class="relative">
      <%= image_tag "logo.png", style: "width: 200px" %>
    </div>
    <div class="text-5xl font-bold">
      Pet<span class="text-sky-300">Haven</span>
    </div>
  </div>
</div>
