<div
  style="background-image: url(<%= image_url 'hero.jpg' %>)"
  class="
    text-zinc-200
    bg-cover
    bg-center
    bg-fixed
    flex
    flex-col
    items-center
    justify-center
    h-[calc(100vh-200px)]
    min-h-[400px]
  "
>

  <div
    class="
      bg-white/30
      py-3
      px-5
      rounded-xl
      text-center
      justify-center
      items-center
      backdrop-blur-md
      min-h-[100px]
    "
  >
    <div class="relative">
      <%= image_tag "logo.png", style: "width: 175px; display: inline" %>
      <div class="flex items-center justify-center mt-[-70px] mb-5">
        <div
          class="
            bg-pink-500
            rounded-full
            h-14
            w-14
            flex
            items-center
            justify-center
            gap-1
          "
        >
          <div class="h-2 w-1 bg-pink-300 rounded-full animate-wavey animation-delay-100"></div>
          <div class="h-3 w-1 bg-pink-200 rounded-full animate-wavey animation-delay-300"></div>
          <div class="h-4 w-1 bg-pink-100 rounded-full animate-wavey animation-delay-500"></div>
          <div class="h-3 w-1 bg-pink-200 rounded-full animate-wavey animation-delay-700"></div>
          <div class="h-2 w-1 bg-pink-300 rounded-full animate-wavey animation-delay-900"></div>
        </div>
      </div>
    </div>
    <div class="text-5xl font-bold">
      Pet<span class="text-sky-700">Haven</span>
    </div>
    <div class="font-bold mt-3 text-sm">
      Keep me updated with news and promotions
    </div>

    <form>
      <input
        type="email"
        placeholder="Email"
        class="
          rounded-sm
          border
          border-white/40
          bg-white/30
          backdrop-blur-md
          p-2
          mt-2
          font-bold
          text-sky-900
          placeholder-zinc-500
          caret-pink-500
          focus:outline-pink-500
          focus:outline
        "
      >
      <button
        type="submit"
        class="
          cursor-pointer
          rounded-sm
          bg-pink-500
          py-2
          px-4
          font-bold
          transition-colors
          hover:bg-sky-900
          hover:shadow-lg
          hover:shadow-black/20
        "
      >
        Subscribe
      </button>
    </form>
  </div>
</div>
