<h2 class="mt-20">Pet History</h2>
<p>See a visual history of your pet over their lifetime.</p>
<div class="relative mt-5 rounded-lg bg-zinc-800 py-4 px-2 text-zinc-200">
  <div
    class="
      absolute
      top-0
      left-1/2
      w-4
      ml-[-8px]
      h-full
      rounded-full
      bg-gradient-to-b
      from-sky-900
      to-teal-900
      via-cyan-900
    "
  ></div>
  <div class="grid grid-cols-2 gap-8">
    <div>
      <h4 class="p-2 bg-zinc-900 rounded-lg my-4">
        Winter 2022
      </h4>
    </div>
    <div></div>
    <div class="text-right">
      <div class="font-bold">Christmas</div>
      <div class="text-zinc-400">3 pics</div>
    </div>
    <div></div>
    <div></div>
    <div>
      <div class="font-bold">Dog Park</div>
      <div class="text-zinc-400">5 pics</div>
    </div>
    <div>
      <h4 class="p-2 bg-zinc-900 rounded-lg my-4">
        2023
      </h4>
    </div>
    <div></div>
    <div class="text-right">
      <div class="font-bold">Johnny's Birthday</div>
      <div class="text-zinc-400">8 pics</div>
    </div>
    <div></div>
    <div></div>
    <div>
      <div class="font-bold">Playing with Snowball</div>
      <div class="text-zinc-400">2 videos</div>
    </div>
  </div>
</div>
