<div class="min-w-[80%] md:min-w-[40%]">
  <div
    style="background-image: url(<%= image_url(filename) %>)"
    class="
      h-80
      w-full
      snap-center
      rounded-xl
      bg-cover
      bg-center0
      shadow-md
      shadow-black/20
    "
  >
  </div>
  <h5 class="mt-2"><%= name %></h5>
  <h6><%= caption %></h6>
</div>
