<h2 class="mt-20">Pricing</h2>
<table class="mt-5 table w-full border border-zinc-500 border-collapse">
  <thead class="text-lg font-bold">
    <td class="border border-zinc-500 p-3">Plan</td>
    <td class="border border-zinc-500 p-3">Price</td>
  </thead>
  <tbody>
    <tr>
      <td class="border border-zinc-500 py-2 px-3">Pet Pal Basic</td>
      <td class="border border-zinc-500 py-2 px-3">$0</td>
    </tr>
    <tr>
      <td class="border border-zinc-500 py-2 px-3">Pet Paradise</td>
      <td class="border border-zinc-500 py-2 px-3">$0.99/month</td>
    </tr>
  </tbody>
</table>
