<div class="md:flex hidden flex-1 items-center justify-end">
  <div class="menu-item">
    <span>Home</span>
  </div>
  <div class="menu-item">
    <span>Pricing</span>
  </div>
  <div class="menu-item">
    <span>Signup</span>
  </div>
  <div class="menu-item group">
    <span>Pets</span>
    <div
      class="
        hidden
        group-hover:block
        bg-pink-500
        absolute
        top-full
        right-0
        whitespace-nowrap
        rounded-b
        text-right
      "
    >
      <div class="">
        <span>View Pets</span>
      </div>
      <div class="">
        <span>My Pets</span>
      </div>
    </div>
  </div>
</div>
