<div class="block md:hidden ml-auto pr-4 my-auto cursor-pointer">
  <div
    class="group peer"
    data-controller="mobile"
    data-action="click->mobile#toggle"
  >
    <%# The 3 Lines of the Hamburger %>
    <div
      class="
        top-0
        transition-all
        group-open:top-2
        group-open:rotate-45
        bg-zinc-200
        rounded-full
        w-8
        h-1
        relative
      "
    ></div>
    <div
      class="
        transition-all
        opacity-100
        group-open:opacity-0
        bg-zinc-200
        rounded-full
        w-8
        h-1
        mt-1
      "
    ></div>
    <div
      class="
        top-0
        transition-all
        group-open:-top-2
        group-open:-rotate-45
        bg-zinc-200
        rounded-full
        w-8
        h-1
        relative
        mt-1
      "
    ></div>
  </div>

  <div
    class="
      peer-open:block
      hidden
      absolute
      top-[48px]
      bg-gradient-to-r
      from-rose-500
      to-pink-500
      w-full
      left-0
    "
  >
    <div
      class="
        relative
        flex
        h-full
        cursor-pointer
        items-center
        justify-center
        p-4
        font-bold
        text-pink-200
        hover:text-zinc-200
        transition-colors
        hover:bg-white/10
      "
    >
      <span>Home</span>
    </div>
    <div
      class="
        relative
        flex
        h-full
        cursor-pointer
        items-center
        justify-center
        p-4
        font-bold
        text-pink-200
        hover:text-zinc-200
        transition-colors
        hover:bg-white/10
      "
    >
      <span>Pricing</span>
    </div>
    <div
      class="
        relative
        flex
        h-full
        cursor-pointer
        items-center
        justify-center
        p-4
        font-bold
        text-pink-200
        hover:text-zinc-200
        transition-colors
        hover:bg-white/10
      "
    >
      <span>Signup</span>
    </div>

    <div
      class="
        relative
        h-full
        cursor-pointer
        text-pink-200
        hover:text-zinc-200
        transition-colors
        hover:bg-white/10
      "
    >
      <div
        class="p-4 text-center font-bold group peer"
        data-controller="mobile"
        data-action="click->mobile#toggle"
      >Pets</div>
      <div class="hidden peer-open:block">
        <div
          class="
            text-center
            p-4
            relative
            text-pink-200
            hover:text-zinc-200
            hover:bg-white/5
            transition-colors
            ease-in-out
          "
        >
          <span>All Pets</span>
        </div>
        <div
          class="
            text-center
            p-4
            relative
            text-pink-200
            hover:text-zinc-200
            hover:bg-white/5
            transition-colors
            ease-in-out
          "
        >
          <span>My Pets</span>
        </div>
      </div>
    </div>
  </div>
</div>
