<header class="text-zinc-200">
  <nav class="sticky top-0 flex bg-gradient-to-r from-rose-500 to-pink-500">
    <div class="flex items-center gap-2 p-2">
      <%= image_tag "logo-inverted", class: "w-12" %>
      <div class="text-2xl font-bold">
        Pet
        <span class="text-sky-700">
          Haven</span>
      </div>
    </div>

    <%= render partial: "/layouts/header/mobile" %>
    <%= render partial: "/layouts/header/desktop" %>

  </nav>
  <%= render partial: "/layouts/header/hero" %>

</header>
