<header class="text-zinc-300">
  <nav class="sticky top-0 flex bg-gradient-to-r from-rose-500 to-pink-500">
    <div class="flex items-center gap-2 p-2">
      <div class="text-2xl font-bold">
        Pet<span class="text-sky-700">Haven</span>
      </div>
    </div>
  </nav>
</header>
